{% block title %}Password reseteado{% endblock %}
{% block pagetitle %}Password reseteado{% endblock %}
{% block content %}
{% if validlink %}
<p>De favor introduce tu nuevo password dos veces para verificar que lo has escrito correctamente.</p>
<form action="" method="post">
  {% csrf_token %}
  <table>
    <tr>
      <td>{{ form.new_password1.errors }}<label for="id_new_password1">New password:</label></td>
      <td>{{ form.new_password1 }}</td>
    </tr>
    <tr>
      <td>{{ form.new_password2.errors }}<label for="id_new_password2">Confirm password:</label></td>
      <td>{{ form.new_password2 }}</td>
    </tr>
    <tr>
      <td></td>
      <td><input type="submit" value="Change my password" /></td>
    </tr>
  </table>
</form>
{% else %}
<h1>Password reseteado fallido</h1>
<p>El link del cambio de password es incorrecto, Probablemente ya este en uso.  Por favor introduce un nuevo password.</p>
{% endif %}
{% endblock %}
